@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-orange:#f9ab00;

}

body{
  font-family:"Roboto Condesed" sans-serif;
}
/* ***************************** NAVBAR ********************************** */

.logo{
  width:7rem;
  height:3rem;
}

/* ***************************** MENU LINKS ********************************** */

nav a .nav-link{
  font-weight:500;
  letter-spacing: 0.0037em;
  cursor:pointer;
}

nav ul li {
  text-transform: uppercase;
}

nav a.nav-link{
  margin-right:1rem;
}

.navbar-nav > li > a:focus {
  border-bottom:.1875rem solid rgb(161, 154, 154);
}

.navbar-nav > li > a:hover {
  border-bottom:.1875rem solid var(--primary-orange);
}